.branding {
  /*height: 60px;
  width: 80px;*/
  background-color: inherit;
  max-height: 73px;
  max-width: 150px;
}

.icons {
  max-width: 50px;
  max-height: 50px;
  align-items: center;
}

.icontext {
  color: #777777;
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.lightblueback {
  background-color: #CED8F6 !important;
}

.pointer {
    cursor: pointer;
    cursor: hand;
}

.contact {
    color: #777777 !important;
    text-align: center;
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center !important;
}
